*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #cbadfa, #95cfff);
  position: relative;
}
@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    transform: translate3d(-7px, 0, 0);
  }

  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    transform: translate3d(7px, 0, 0);
  }
}

.error {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 260px;
  height: 50px;
  background-color: rgb(243, 35, 35);
  padding-left: 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  line-height: 50px;
  font-size: 1.3rem;
  animation-name: shakeX;
  animation-duration: 2.5s;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px) 30%;
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.calculator-grid > div {
  display: flex;
  flex-direction: column;
}
.calculator-grid > div > button {
  height: 50%;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.calculator-grid > div > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  grid-column: 1 / -2;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 2px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
.history {
  grid-column: -2 / -1;
  grid-row: 1 / 7;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 10px;
  list-style-type: square;
  position: relative;
}
.history-list {
  list-style-type: square;
}
.calculator-grid > .history > .clear-history {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  max-width: 5rem;
  height: 1.8rem;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
